
.logo {
    width: 150px;
 

}

.logoContainer {
   
    color: #3453a8;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    background-color: #b00020;
}

header{
    align-items: left;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: grey;
}


main {
    justify-content: center; 
    align-items: center;
    padding: 15px;
   
}

.imgContainer {
display: flex;
justify-content: center;

}

.imgnaves {
    width: 75%;
    display: block;
    height: auto;
    margin-bottom: 5rem ;
}

main h1 {
    text-align: center;
    color: #3453a8;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    background-color: #b00020;
}

main p {
    font-family: "Montserrat", sans-serif;
    text-decoration: double;
    text-align: center;
}

.principal {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 85%;
}

.autoaldia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #242020;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

@media (max-width: 630px) {
    nav ul {
      display: block;
      font-size: 14px;
      margin-top: 10px;
    }
  
    nav ul li {
      margin-bottom: 10px;
    }
  }

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



nav ul li a:hover {
    color: red;
}

.volver {
    width: 100px;
    width: 150px;
    margin-top: 12px;
    margin-left: 15px;
        
}



.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    margin-top: 1rem;
  }

  .inputsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 1rem;
  }
  
  .form-button {display: flex; justify-content: center; margin-top: 1rem; }

  .buttonContact {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
   
  }

  .pointer {
    cursor: pointer;
  }