.logoContainer {
    color: #3453a8;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    background-color: #b00020;
  }

  .logo {
    width: 150px;
  }

  
  .imgContainer {
    display: flex;
    justify-content: center;
  }

  .imgnaves {
    width: 75%;
    display: block;
    height: auto;
    margin-bottom: 5rem;
  }

  .principal {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 85%;
  }